<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Primera con Angular</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="angular.min.js"></script>
</head>
<body>	
<div ng-app="Angapp" ng-controller="AngCtrl" class="col-md-7 offset-md-3">
	<label for="sucursal">Sucursal</label>
	<select id="sucursal" class="form-control" ng-model="filtro">
		<option ng-repeat="cbsucursal in sucursal"  value="{{cbsucursal.sucursales1}}">
			{{cbsucursal.sucursales1}}
		</option>
	</select>
	<button class="btn btn-primary" ng-click="btnfiltro()">Filtrar</button>
	<hr/>
	<label for="Categoria">Categoria</label>
	<select id="Categoria" class="form-control">
		<option ng-repeat="cbcategoria in categoria" value="{{cbcategoria.categoria_id}}">
			{{cbcategoria.categoria}}
		</option>
	</select>
	<button class="btn btn-primary" ng-click="filtro">Filtrar</button>
	<hr/>
	<label for="marca">Marca</label>
	<select id="marca" class="form-control">
		<option ng-repeat="cbmarca in marca" value="{{cbmarca.marca_id}}">
			{{cbmarca.marca1}}
		</option>
	</select>
	<button class="btn btn-primary">Filtrar</button>
	<hr/>
	{{filtro}}
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Sucursal</th>
				<th scope="col">Categoria</th>
				<th scope="col">Marca</th>
				<th scope="col">Producto</th>
				<th scope="col">Precio</th>
				<th scope="col">Imagen</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="datos in principal|filter:filt">
				<th scope="row">{{datos.Id}}</th>
				<td>{{datos.Sucursal}}</td>
				<td>{{datos.Categoria}}</td>
				<td>{{datos.Marca}}</td>
				<td>{{datos.Producto}}</td>
				<td>{{datos.Precio}}</td>
				<td><img src="{{datos.UrlImagen}}" height="100px" width="100px"/></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	var app = angular.module('Angapp', []);
	app.controller('AngCtrl',
		function ($scope, $http) {
			$http.get("http://localhost:56227/api/principal/categoria")
				.then(function(response) { $scope.categoria = response.data; });
			$http.get("http://localhost:56227/api/principal/sucursales")
				.then(function (response) { $scope.sucursal = response.data; });
			$http.get("http://localhost:56227/api/principal/marca")
				.then(function (response) { $scope.marca = response.data; });
			$http.get("http://localhost:56227/api/principal")
				.then(function (response) { $scope.principal = response.data; });

			$scope.btnfiltro = function() {
				$scope.filt = $scope.filtro;
			}
			
		});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>